
.DS_Store
2_FisikaEstatistikoa_2021_2022/.DS_Store
TermodinamikakoNotak.pdf
3_azterketak/azterketatxoak_estatistika/1_1_taldea.pdf
3_azterketak/azterketatxoak_estatistika/1_2_taldea.pdf
3_azterketak/azterketatxoak_estatistika/1_3_taldea.pdf
3_azterketak/azterketatxoak_estatistika/1_4_taldea.pdf
3_azterketak/azterketatxoak_estatistika/1_5_taldea.pdf
3_azterketak/azterketatxoak_estatistika/1_6_taldea.pdf
3_azterketak/azterketatxoak_estatistika/1_7_taldea.pdf
3_azterketak/azterketatxoak_estatistika/1_8_taldea.pdf
3_azterketak/azterketatxoak_estatistika/1_9_taldea.pdf
3_azterketak/TALDEAK.pdf
2_FisikaEstatistikoa_2021_2022/.ipynb_checkpoints/Untitled-checkpoint.ipynb
2_FisikaEstatistikoa_2021_2022/Untitled.ipynb
3_azterketak/1_azterketatxoa.md
